.header-content {
  background-color: #282c34;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 30px;
}

.nav-link:hover {
  color: #61dafb;
}

.logo-link,
.logo-link img {
  width: 70px;
  filter: invert(48%) sepia(66%) saturate(476%) hue-rotate(75deg)
    brightness(93%) contrast(87%);
}

.search-input {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 300px;
}
.search-button {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0%;
  right: 15px;
  padding: 5px 10px;
}

.search-container {
  position: relative;
  display: inline-block;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  max-height: 250px;
  /* overflow-y: auto; */
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  z-index: 1000;
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f0f0f0;
}

.move-area {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.box-eye::after {
  content: "Click to add books";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background-color: #37a447;
  color: #fff;
  padding: 6px 10px;
  border-radius: 16px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

.box-eye::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  border-width: 14px;
  border-style: solid;
  border-color: transparent #37a447 transparent transparent;
  opacity: 0;
}

.move-area:hover .box-eye::after,
.move-area:hover .box-eye::before {
  opacity: 1;
}

.move-area:hover .box-eye::before {
  left: 80%;
}

.move-area:hover .box-eye::after {
  left: 120%;
}

.box-eye {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: #ccc;
}
.eye:after {
  position: absolute;
  bottom: 10px;
  right: 6px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  content: " ";
}
