.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* căn giữa tiêu đề và filter */
}

.filter-container {
  display: flex;
  gap: 20px; /* khoảng cách giữa Sort và Filter */
  align-items: center;
}

.filter-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-label {
  font-weight: bold;
  font-size: 14px;
}

.filter-select,
.filter-button {
  height: 36px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-select {
  padding: 0 12px;
}

.filter-button {
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.rotate {
  color: #007bff;
  font-size: 16px;
}

.genre-page > ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px 0;
  text-align: center;
}

.genre-page > ul li {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 30px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

/* .modal-form {
  display: flex;
} */

.modal-form input,
.modal-form textarea {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-save {
  background: #28a745;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn-cancel {
  background: #dc3545;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn-save:hover {
  background: #218838;
}

.btn-cancel:hover {
  background: #c82333;
}

.dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.dropdown-toggle {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  margin-top: 2px;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

.error {
  color: red;
  font-size: 14px;
}
